<template>
    <div class="tweets-container">
        <div class="card"
            v-for="tweet in stream"
            :key = "tweet.id"
        >
            <div class="row">
                <div class="col s4 m3 l2">
                    <div :style="{
                        backgroundImage: 'url('+tweet.user.profile_image_url.replace('_normal','')+')', 
                        backgroundColor: '#000000',
                        backgroundSize: 'cover',
                        height: '80px', 
                        width: '80px',
                        borderRadius: '50%',
                        marginTop: '10px'
                    }"></div>
                </div>
                <div class="col s8 m9 l10">
                    <p><span class="bold-text">{{tweet.user.name}}</span> <span class="grey-text">@{{tweet.user.screen_name}}</span></p>
                    <p>{{tweet.text}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
import io from 'socket.io-client'

export default {
    data() {
        return {
            tweet: {
                user: {
                    name: 'Loading...',
                    screen_name: 'Loading...',
                    profile_image_url: 'http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png'
                },
                text: 'Loading...'
            },
            stream: [],
            error: ''
        }
    },
    mounted() {
        var socket = io('http://localhost:5000')
        socket.on('tweet', tweet => {
            this.tweet = tweet
            this.stream.unshift(tweet)
            console.log('New tweet from...', tweet.user.name)
        })
    }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.card{
    padding: 5px;
}

.bold-text{
    font-weight: bold;
}
</style>