<template>
  <div id="app">
    <div class="container">
      <h1 class="tweet-title center-align">Trending about <span class="tweet-search">{{search}}</span></h1>
      <tweet-object></tweet-object>
    </div>
  </div>
</template>

<script>
import TweetObject from '@/components/TweetObject.vue'

export default {
  name: 'app',
  components: {
    TweetObject
  },
  data() {
    return {
      search: '#Vagabond'
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body{
  font-family: 'Karla', sans-serif;
}

.tweet-title{
  font-size: 36px;
}

.tweet-search{
  font-weight: bold;
}

.btn{
  font-family: 'Karla', sans-serif;
}
</style>
